<% @page_title = "Show Clubs" %>

<h2>Club Details</h2>
<%= link_to("<< Back to List", clubs_path, :class => 'back-link') %>
<%= simple_form_for(@club) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :city %>
  <%= f.input :country %>
  <%= f.association :club_type, label_method: :name, include_blank: true, prompt: "Choose a Club Type" %>
  <%= f.input :start_date %>
  <%= f.input :end_date, include_blank: true %>
  <%= f.input :address %>
  <%= f.input :district %>
  <%= f.input :division %>
  <%= f.input :area %>
  <%= f.input :registration_number %>
  <%= f.input :website %>
  <%= f.input :email %>
  <%= f.input :mission %>
  <%= f.input :facebook %>
  <%= f.input :display_name %>
  <%= f.input :logo %>
  <%= f.input :created_at %>
  <%= f.input :updated_at %>
<% end %>

</n/n>

<table class="table table-striped">
  <tr class="header">
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Actions</th>
  </tr>


  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td>      </td>
    </tr>
  <% end %>
